style.
  /* Basic Reset */
  body {
    background-color: #f6f6f6;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }

  .container {
    display: block;
    Margin: 0 auto !important;
    max-width: 580px;
    padding: 10px;
    width: 580px;
  }

  .content {
    background: #ffffff;
    border-radius: 3px;
    padding: 20px;
  }

  .btn-primary a {
    background-color: #3498db;
    border: solid 1px #3498db;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    margin-bottom: 5px;
  }
